# SF Salaries Exercise

**Import pandas as pd.**

In [4]:
import pandas as pd
from warnings import filterwarnings
filterwarnings('ignore')

**Read Salaries.csv as a dataframe called sal.**

In [5]:
sal = pd.read_csv("K:\Data Science Preparation\sesssion 4\project\Salaries.csv")
sal

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
148649,148650,Roy I Tillery,Custodian,0.00,0.00,0.00,0.00,0.00,0.00,2014,NaN,San Francisco,PT
148650,148651,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148651,148652,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148652,148653,Not provided,Not provided,Not Provided,Not Provided,Not Provided,Not Provided,0.00,0.00,2014,NaN,San Francisco,NaN
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.00,0.00,-618.13,0.00,-618.13,-618.13,2014,NaN,San Francisco,PT

**Check the head of the DataFrame.**

In [6]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

**Use the .info() method to check datatype of columns**

In [7]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

**Check values of the follwing columns and see if there datatypes are suitable:**
- BasePay
- OvertimePay

**What is the average BasePay ?**

In [8]:
sal["BasePay"] =pd.to_numeric(sal["BasePay"],errors='coerce')
sal["BasePay"].mean()

66325.4488404877

**What is the highest amount of OvertimePay in the dataset ?**

In [12]:
sal["OvertimePay"] =pd.to_numeric(sal["OvertimePay"],errors='coerce')
highest_overtime_pay = sal['OvertimePay'].max()
highest_overtime_pay

245131.88

**What is the job title of  JOSEPH DRISCOLL?**

In [14]:
joseph_driscoll_row = sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']
job_title = joseph_driscoll_row['JobTitle'].values[0]
job_title

'CAPTAIN, FIRE SUPPRESSION'

**How much does JOSEPH DRISCOLL make (including benefits)?**

In [18]:
joseph_driscoll_row = sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']
total_pay_benefits = joseph_driscoll_row['TotalPayBenefits'].values[0]
total_pay_benefits

270324.91

**What is the name of highest paid person (including benefits)?**

In [20]:
sorted_df = sal.sort_values(by='TotalPayBenefits', ascending=False)

# Retrieve the name of the highest-paid person (the first row)
highest_paid_person_name = sorted_df.iloc[0]['EmployeeName']
highest_paid_person_name

'NATHANIEL FORD'

**What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid**

In [23]:
sorted_df = sal.sort_values(by='TotalPayBenefits', ascending=True)
lowest_paid_person_name = sorted_df.iloc[0]['EmployeeName']
lowest_paid_person_name
lowest_paid_person_pay = sorted_df.iloc[0]['TotalPayBenefits']
lowest_paid_person_pay
if lowest_paid_person_pay < 0:
    print("There is a negative pay value, which is unusual.")

There is a negative pay value, which is unusual.

**What was the average (mean) BasePay of all employees per year? (2011-2014) ?**

In [25]:
filtered_df = sal[(sal['Year'] >= 2011) & (sal['Year'] <= 2014)]
average_basepay_per_year = filtered_df.groupby('Year')['BasePay'].mean()
average_basepay_per_year

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

**How many unique job titles are there?**

In [26]:
unique_job_titles_count = sal['JobTitle'].nunique()
unique_job_titles_count

2159

**What are the top 5 most common jobs?**

In [28]:
job_counts = sal['JobTitle'].value_counts()
top_5_jobs = job_counts.head(5)
top_5_jobs

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

**How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)**

In [29]:
sum(sal[sal.Year == 2013]['JobTitle'].value_counts() == 1)

202

**How many people have the word Chief in their job title? (This is pretty tricky)**

In [30]:

def chief_test(job_title):
    if "chief" in job_title.lower():
        return True
    else:
        return False

sum(sal.JobTitle.apply(chief_test))
# anthor solution
sum(sal.JobTitle.apply(lambda x :'chief' in x.lower()))

627

**Bonus: Is there a correlation between length of the Job Title string and Salary?**

In [35]:
sal['Title_Length'] = sal['JobTitle'].apply(len)

# Calculate the correlation between title length and salary
correlation = sal['Title_Length'].corr(sal['BasePay'])
correlation

-0.005059092342865187

# Great Job!